@model IEnumerable<UserWithRolesViewModel>

@{
    ViewData["Title"] = "List of users";
}

<h2 class="text-center">List of users</h2>

<p>
    <a href="@Url.Action("Create", "User")" class="btn btn-primary mb-3">Create a new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Rules</th>
            <th>Date of creation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    @if (user.Roles.Any())
                    {
                        @string.Join(", ", user.Roles)
                    }
                    else
                    {
                        <span>Aucun rôle</span>
                    }
                </td>
                <td>@user.CreatedDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@user.UserId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@user.UserId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>